body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.row {
    display: flex;
}

.square {
    border: solid; 
    height: 50px; 
    width: 50px
}

.squareMouseover {
    background-color: red;
}