body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.grid {
    display: flex;
    max-width: 960px;
    max-height: 960px;
}

.row {
    display: flex;
}

.square {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border: solid;
    border-width: 1px;
}

.squareMouseover {
    background-color: rgb(255, 0, 0);
}